<section>
    <div>
        <label for="select-account">Select Account: </label>
        <select id="select-account" (change)="changeAccount($event)">
            <!--<option value="undefined">Not Selected</option>-->
            <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
        </select>
    </div>
</section>
<h1 *ngIf="account">Welcome back {{account.name}}</h1>
<div>
    <div>
        <label for="select-start-date">Start:</label>
        <input type="date" [(ngModel)]="selectedStartDate"
        (change)="computeStats()"/>
    </div>
    <div>
        <label for="select-end-date">End:</label>
        <input type="date" [(ngModel)]="selectedEndDate" [min]="selectedStartDate"
        (change)="computeStats()"/>
    </div>
</div>
<div>
    <div>
        Total Income: {{totalIncome}}
    </div>
    <div>
        Total Expenses: {{totalExpenses}}
    </div>
    <div>
        Balance {{selectedEndDate | date}}: {{balance}}
    </div>
</div>
<hr/>
<p>
    All transaction: {{transactions | json}}
</p>
<p>Selected start date: {{selectedStartDate}}</p>
