
<section class="mt-4 ms-4">
    <div id="select-account-and-month" class="d-flex justify-content-between">
        <div>
            <label for="select-account" class="color-violett me-1">Select Account: </label>
            <select id="select-account" (change)="changeAccount($event)" class="me-2">
                <!--<option value="undefined">Not Selected</option>-->
                <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
            </select>
        </div>
        <div>
            <label for="select-month" class="color-violett me-1">Select Month: </label>
            <select id="select-month">
                <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
            </select>
        </div>
    </div>

<h1 *ngIf="account">Welcome back {{account.name}}</h1>
<div>
    <div>
        <label for="select-start-date">Start:</label>
        <input type="date" [(ngModel)]="selectedStartDate"
        (change)="computeStats()"/>
    </div>
    <div>
        <label for="select-end-date">End:</label>
        <input type="date" [(ngModel)]="selectedEndDate" [min]="selectedStartDate"
        (change)="computeStats()"/>
    </div>
</div>
<div>
    <div>
        Total Income: {{totalIncome}}
    </div>
    <div>
        Total Expenses: {{totalExpenses}}
    </div>
    <div>
        Balance {{selectedEndDate | date}}: {{balance}}
    </div>
</div>
</section>