
<section class="mt-4 ms-4 me-4">
    <div id="select-account-and-month" class="d-flex justify-content-between mb-5">
        <div>
            <label for="select-account" class="c-violett me-1">Account: </label>
            <select id="select-account" 
            (change)="changeAccount($event)" 
            class="me-2"
            [(ngModel)]="id">
                <!--<option value="undefined">Not Selected</option>-->
                <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
            </select>
        </div>
        <!-- <div>
            <label for="select-month" class="c-violett me-1">Select Month: </label>
            <select id="select-month">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div> -->
        <div>
            <label for="select-start-date" class="c-violett me-1">Start Date:</label>
            <input type="date" [(ngModel)]="selectedStartDate"
            (change)="computeStats()"/>
        </div>
        <div>
            <label for="select-end-date" class="c-violett me-1">End Date:</label>
            <input type="date" [(ngModel)]="selectedEndDate" [min]="selectedStartDate"
            (change)="computeStats()"/>
        </div>
    </div>

    <h1 *ngIf="account" class="mb-4">Welcome back {{account.name}}!</h1>


    <div id="stats" class="container mb-3">
        <div class="row">
            <div class="col bc-yellow c-violett rounded-2 me-2 pt-2">
                <p class="mb-0">Total Income</p> 
                <p *ngIf="totalIncome" class="fs-1">{{totalIncome | money}}</p>
            </div>
            <div class="col bc-violett c-yellow rounded-2 me-2 pt-2">
                <p class="mb-0">Total Expenses</p>
                <p *ngIf="totalExpenses" class="fs-1">{{totalExpenses | money}}</p>
            </div>
            <div class="col bc-yellow c-violett rounded-2 br-2 pt-2">
                <p class="mb-0">Balance {{selectedEndDate}}</p>
                <p *ngIf="balance" class="fs-1">{{balance | money}}</p>
            </div>
        </div>
    </div>
    <div id="charts" class="container">
        <div class="row">
            <div class="col rounded-2">
                <app-pie-chart [data]="expensesData"></app-pie-chart>
            </div>
            <div class="col rounded-2">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</section>