<div class="container">
  <button class="btn btn-outline-secondary m-3" (click)="return()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-backspace-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z"
      />
    </svg>
  </button>
  <p class="fs-1 text-center p-2">Create New Category</p>
</div>

<form class="p-3" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <span class="input-group-text">Name: </span>
    <input
      type="text"
      aria-label="First name"
      class="form-control"
      formControlName="name"
    />
  </div>

  <div class="d-flex gap-2 p-2">
    <input
      type="hidden"
      id="selected-picture"
      name="selected-picture"
      value=""
      formControlName="image"
    />
    <div class="d-flex flex-column pt-2 pb-2">
      <p class="mb-2">Choose your picture:</p>
      <div class="d-flex flex-wrap gap-2">
        <div class="picture-list" *ngFor="let picture of pictureList">
          <button
            class="picture"
            type="button"
            ngFor="let picture of pictureList"
            [class.selected]="picture === selectedPicture"
            (click)="selectPicture(picture)"
          >
            <img src="{{ picture }}" alt="icon" width="30px"/>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-grid">
    <button type="submit" class="btn-outline-secondary btn">Speichern</button>
  </div>
</form>
