.sidebar {
  width: 250px;
  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.402);
  background-color: white;
}

a {
  opacity: 50%;
  color: blueviolet;
  font-size: larger;
}

a:hover {
  opacity: 100%;
  color: blueviolet;
}

.active {
  opacity: 100% !important;
  color: blueviolet !important;
}
