<div class="toolbar d-flex gap-2 justify-content-center mb-3">
    <div class="input-group searchbar">
        <input
        type="text"
        class="form-control"
        placeholder="Search Category ..."
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        aria-label="Search">
        <button class="btn btn-outline-secondary" type="button" (click)="onSearchChange()">Search</button>
    </div>

    <select class="form-select w-sm-100 w-md-50" [(ngModel)]="sortBy" (change)="onSortChange()">
        <option value="" disabled>Sort By</option>
        <option value="amount">Amount</option>
        <option value="date">Date</option>
        <option value="category">Category</option>
    </select>

    <select class="form-select w-sm-100 w-md-50"[(ngModel)]="sortOrder" (change)="onSortChange()">
        <option value = "" disabled>Sort Order</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>


    <div class="dropdown custom-checkbox">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >Filter</button>
        <ul class="dropdown-menu">
            <li>
                <div class="form-check dropdown-item">
                    <input
                    class="form-check-input"
                    type="checkbox"
                    [id]="selectAll"
                    [(ngModel)]="selectAll"
                    (change)="onSelectAllChange()">
                    <label class="form-check-label" for="filter.value">
                        Select All
                    </label>
                </div>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li *ngFor="let filter of filters; let i = index">
                <div class="form-check dropdown-item">
                    <input
                    class="form-check-input"
                    type="checkbox"
                    [id]="filter.value"
                    [(ngModel)]="filter.checked"
                    (change)="onFilterChange()">
                    <label class="form-check-label" for="filter.value">
                        {{filter.label}}
                    </label>
                    <li *ngIf="i === 1"><hr class= "dropdown-divider"></li>
                </div>
            </li>
        </ul>
    </div>
</div>
