<p class="fs-1 text-center p-2">Create New Transaction</p>
<form class="p-3">
  <div class="input-group">
    <span class="input-group-text">Amount</span>
    <input type="number" aria-label="First name" class="form-control" />
  </div>

  <select class="form-select">
    <option selected disabled>Choose Category..</option>
    <option *ngFor="let category of categoryList" value="{{ category.id }}">
      {{ category.name }}
    </option>
  </select>

  <div class="input-group">
    <span class="input-group-text">Date</span>
    <input type="date" aria-label="First name" class="form-control" />
  </div>
  <div data-mdb-input-init class="form-outline">
    <textarea
      class="form-control"
      id="textAreaExample"
      rows="4"
      placeholder="Description"
    ></textarea>
    <label class="form-label" for="textAreaExample"></label>
  </div>
  <button type="submit">Speichern</button>
</form>
