<div *ngIf="!newCategory; then transaction; else category"></div>
<ng-template #transaction>
  <p class="fs-1 text-center p-2" *ngIf="!selectedTransaction">Create New Transaction</p>
  <form class="p-3" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <span class="input-group-text">Amount</span>
      <input
        type="number"
        aria-label="First name"
        class="form-control"
        formControlName="amount"
        step="0.01"
      />
    </div>

    <div class="input-group">
      <select class="form-select" formControlName="category">
        <option value="" disabled selected>Select Category...</option>
        <option *ngFor="let category of categoryList" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="newCategory=!newCategory"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-plus-square"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
          />
        </svg>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="deleteSelectedCategory()"
        [disabled]="!transactionForm.get('category')?.value"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-trash"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
          />
          <path
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
          />
        </svg>
      </button>
    </div>

    <div class="input-group">
      <span class="input-group-text">Date</span>
      <input
        type="date"
        aria-label="First name"
        class="form-control"
        formControlName="timestamp"
      />
    </div>
    <div data-mdb-input-init class="form-outline p-2">
      <textarea
        class="form-control"
        id="textAreaExample"
        rows="4"
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <label class="form-label" for="textAreaExample"></label>
    </div>
    <div class="d-grid">
      <button
        type="submit"
        class="btn-outline-secondary btn"
        [disabled]="transactionForm.invalid"
      >
        Speichern
      </button>
    </div>
  </form></ng-template
>
<ng-template #category
  ><app-category-form (returnToTransaction)="return($event)"></app-category-form
></ng-template>
