<nav (window:resize)="onResize()" class="navbar navbar-light">
  <div class="container-fluid d-flex justify-content-center mb-2">
    <button class="btn btn-outline-dark mx-2" *ngIf="!isSidebarOpen" (click)="toggleSidebar()">☰ Open</button>
    <button class="btn btn-outline-dark mx-2" *ngIf="isSidebarOpen" (click)="toggleSidebar()">☰ Close</button>
  </div>
</nav>

<div class="d-flex">
  <app-navbar 
  [isSidebarOpen]="isSidebarOpen"
  ></app-navbar>
  <div class="content flex-fill">
    <router-outlet></router-outlet>
  </div>
</div>
